# Homework 1

In [7]:
import os
import pandas as pd

### Setting Path

In [8]:
path = r"C:\Users\jaded\Desktop\DS_Week2_HM"

os.chdir(path)

sourcefiles = os.listdir(path)
#Checking if .csv file is recognized and if path is right.
[print(file) for file in sourcefiles if file.endswith(".csv")]

16k_Movies.csv

[None]

In [9]:
# Manipulating Table
#Reading each cell in .csv file and seperating them with a ","
movie_data = pd.read_csv("16k_Movies.csv",sep = ",")
# Using drop to remove the "Unamed column"
# Manipulating Data 
movie_data.drop(columns = ["Unnamed: 0"], inplace = True)
# Changing data format to pandas date time format
movie_data["Release Date"] = pd.to_datetime(movie_data["Release Date"])
# Creating the Year column
movie_data["Year"] = movie_data["Release Date"].dt.year

In [10]:
# Grouping table columns by year and rating. In where it groups the
# Movie data by year and finds the movie with the highest
# Rating that year, extracts the movies
# Then resets the data frame so it would look neat.
highest_ratings_idx = movie_data.groupby(["Year"])["Rating"].idxmax()
highest_rated_movies = movie_data.iloc[highest_ratings_idx]
highest_rated_movies.reset_index(drop = True, inplace = True)
#highest_rated_movies

In [12]:
# For Question #2 
# Grouping table by directors and calculating how many movies they released
# Sorting the table with number of films each director made.
director_count = movie_data.groupby("Directed by").agg(Num_Movies = pd.NamedAgg("Directed by", "size")).sort_values("Num_Movies", ascending = False).reset_index(drop = False)
#director_count

In [13]:
# For Question #3
#Grouping table by genre, and in each genre the highest rating
highest_rated_genre = pd.DataFrame(movie_data.groupby("Genres")["Rating"].max()).sort_values("Rating", ascending = False)
highest_rated_genre.dropna(inplace = True)
#highest_rated_genre

### Questions

#### #1 What was the highest rated movie per year?

In [21]:
highest_rated_movies_per_year = pd.DataFrame(highest_rated_movies, columns = ['Year','Title','Rating'])
highest_rated_movies_per_year # Uncomment to see output.

    Year                                       Title  Rating
0   1970                                      Patton     8.4
1   1971                                  Get Carter     8.5
2   1972                               The Godfather     9.3
3   1973                            Theater of Blood     9.0
4   1974                      The Godfather: Part II     9.1
5   1975             One Flew Over the Cuckoo's Nest     8.7
6   1976                                       Rocky     8.7
7   1977                               The Choirboys     9.6
8   1978              The Bad News Bears Go to Japan     9.3
9   1979                                       Alien     9.0
10  1980                             The Blue Lagoon     9.4
11  1981                          The Cannonball Run     9.4
12  1982                                     The Toy     9.5
13  1983                   Curse of the Pink Panther     8.9
14  1984                   Ninja III: The Domination     9.6
15  1985                                    Turk 182    10.0
16  1986                           Haunted Honeymoon     9.8
17  1987                  House II: The Second Story     9.5
18  1988                     Who Framed Roger Rabbit     8.6
19  1989                         Troop Beverly Hills     9.7
20  1990                                    Madhouse     9.7
21  1991  The NeverEnding Story II: The Next Chapter     9.7
22  1992                                  Encino Man     9.3
23  1993                               Aspen Extreme     9.7
24  1994                         Trapped in Paradise     9.3
25  1995             Highlander: The Final Dimension     9.4
26  1996                               Two If by Sea     9.5
27  1997                                       Steel     9.4
28  1998                         Saving Private Ryan     8.8
29  1999                             Men Cry Bullets     9.6
30  2000                                 Wildflowers     9.8
31  2001                                   Innocence     9.6
32  2002                   Love in the Time of Money     9.8
33  2003                              Don't Tempt Me     9.8
34  2004                                        Noel     9.7
35  2005                          A Hole in My Heart    10.0
36  2006                              Surviving Eden    10.0
37  2007                                     Badland     9.5
38  2008                                Garden Party     9.8
39  2009                                What Goes Up     9.5
40  2010                                  Boxing Gym     9.8
41  2011                                     Bunraku     9.4
42  2012               Just 45 Minutes from Broadway     9.7
43  2013                                   1st Night     9.7
44  2014                                       After     9.9
45  2015                   Paulo Coelho's Best Story     9.5
46  2016                                The Unspoken     9.6
47  2017               Literally, Right Before Aaron     9.6
48  2018                                 Blue Iguana     9.6
49  2019                                       After     9.9
50  2020                                     Monsoon     9.7
51  2021                                 A Week Away     9.6
52  2022                                   Vengeance     9.8
53  2023                              A Radiant Girl     9.5
54  2024                                   Cora Bora     9.9

#### #2 Which director has released the most number of movies over the years?

In [19]:
director_count # Uncomment to see output.

                                        Directed by  Num_Movies
0                                       Woody Allen          50
1                                        Ron Howard          40
2                                      Ridley Scott          35
3                                  Steven Spielberg          35
4                                    Clint Eastwood          35
...                                             ...         ...
7374  Kenji Kamiyama, \n    \n      Hiroyuki Okiura           1
7375                                Damiano Damiani           1
7376                            Damien Dante Wayans           1
7377                                     Ken Marino           1
7378                                   A. Dean Bell           1

[7379 rows x 2 columns]

#### #3 Does a particular genre always have a high rating? If so, what genre?

In [18]:
highest_rated_genre # Uncomment to generate output

                                        Rating
Genres
Drama                                     10.0
Comedy,Drama                              10.0
Comedy                                    10.0
Drama,Mystery                              9.9
Comedy,Drama,Horror,Thriller               9.9
...                                        ...
Action,Thriller,War                        1.9
Action,Adventure,Comedy,Drama,Fantasy      1.8
Action,Adventure,Comedy,Drama,Thriller     1.7
Action,Drama,Sport,Thriller                1.5
Drama,Crime,Action                         1.1

[1503 rows x 1 columns]

#### #4 What are three additional questions you can ask of this dataset?

In [99]:
# How many movies were released in each year?
# What film had the least and most "Number of Person Who Voted"?
# What genre is most common?

In [110]:
#movie_count_each_year = movie_data.groupby("Year").agg(movies_yearly = pd.NamedAgg("Year","Title")).sort_values("movies_yearly", ascending = False).reset_index(drop = False)
#movie_count_each_year